* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #000;
}
h1 {
	color: #fff;
	margin: 50px 0 50px 120px;
	
}

.container {
	display: flex;
    flex-flow: row wrap;
    margin-left: -8px; 
    width: 100%;
}
.item{
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0; 
}
.item:hover {
	opacity: 1;
}

@media screen and (max-width: 500px) {

	.item { width: 50%; }
}



